services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_app
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html/crm
    environment:
      DB_HOST: db
      DB_MAIN_USERNAME: "studiosp_design"
      DB_MAIN_NAME: "studiosp_design"
      DB_PASS: "9&+5Vx%Si@e."
      CRM_COOKIE_DOMAIN: "localhost"
      CRM_COOKIE_SECURE: "false"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: "studiosp_design"
      MYSQL_USER: "studiosp_design"
      MYSQL_PASSWORD: "9&+5Vx%Si@e."
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -proot --silent"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - db_data:/var/lib/mysql
      - ./db/studiosp_design.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin:5-apache
    container_name: db_phpmyadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 0
    depends_on:
      - db

volumes:
  db_data:
